{% macro search_and_filter(filters, action, currentParams) %}
    {% autoescape 'html' %}
        <form action="{{ action }}" method="get" class="">
            <div class="ui width wrapping menu">
                <div class="item "><i class="fa-duotone fa-solid fa-filter-list"></i></div>
                <div class="item">
                    <button type="submit" class="ui primary button">{{ 'Поиск'|trans }}</button>
                </div>
                {% for name, options in filters %}
                    <div class="item">
                        {% if options.type == 'text' %}
                            <div class="ui input">
                                <input type="text" id="filter_{{ name }}" name="filter_{{ name }}"
                                       placeholder="{{ options.label|trans }}"
                                       value="{{ attribute(currentParams, name) }}"/>
                            </div>
                        {% elseif options.type == 'tags' %}
                            <div class="inline fields">
                                <div class="field">
                                    <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                                    <select id="filter_{{ name }}" name="filter_{{ name }}[]"
                                            class="ui fluid search multiple selection dropdown clearable" multiple>
                                        {% for key, value in options.choices %}
                                            <option value="{{ key }}"
                                                    {% if attribute(currentParams, 'filter_' ~ name)|default([]) is iterable and key in attribute(currentParams, 'filter_' ~ name) %}selected{% endif %}>
                                                {{ value|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% elseif options.type == 'select' %}
                            <div class="inline fields">
                                <div class="field">
                                    <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                                    <select id="filter_{{ name }}" name="filter_{{ name }}"
                                            class="ui fluid search selection dropdown clearable" >
                                        {% for key, value in options.choices %}
                                            <option value="{{ key }}"
                                                    {% if attribute(currentParams, 'filter_' ~ name) == key %}selected{% endif %}>
                                                {{ value|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% elseif options.type == 'checkbox' %}
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="filter_{{ name }}" name="filter_{{ name }}" value="1"
                                       {% if attribute(currentParams, 'filter_' ~ name) %}checked{% endif %}>
                                <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                            </div>
                        {% elseif options.type == 'range' %}
                            <div class="sliderrange">
                                <div class="ui labeled ticked range slider" id="range-{{ name }}"></div>
                                <div class="ui mini input">
                                    <input type="number" id="range-{{ name }}-input-from" name="filter_{{ name }}_from">
                                </div>
                                <div class="ui mini input">
                                    <input type="number" id="range-{{ name }}-input-to" name="filter_{{ name }}_to">
                                </div>
                            </div>

                            <script>
                                setTimeout(() => {
									let restricted = [];

									{% for r in options.values|default(range(options.from, options.to)) %}
									    restricted.push({{ r }});
									{% endfor %}

									$('#range-{{ name }}')
										.slider({
											min: {{ options.from }},
											max: {{ options.to }},
											step: 1,
											showThumbTooltip: true,
											restrictedLabels: restricted,
											tooltipConfig: {
												position: 'bottom center',
												variation: 'small visible blue'
											},
											smooth: true,
                                            onChange: function () {
												let from = $(this).slider('get thumbValue', 'first'),
													to = $(this).slider('get thumbValue', 'second');

												$('#range-{{ name }}-input-from').val(from);
												$('#range-{{ name }}-input-to').val(to);
                                            }
										})
									;
									$('#range-{{ name }}-input-from').on('change', function () {
										let min = parseInt($(this).val()) <= {{ options.from }} ? {{ options.from }} : parseInt($(this).val());
										$('#range-{{ name }}').slider('set rangeValue', min, $('#range-{{ name }}-input-to').val());
										$(this).val(min);
                                    });
									$('#range-{{ name }}-input-to').on('change', function () {
										let max = parseInt($(this).val()) >= {{ options.to }} ? {{ options.to }} : parseInt($(this).val());
										$('#range-{{ name }}').slider('set rangeValue', $('#range-{{ name }}-input-from').val(), max);
										$(this).val(max);
                                    });

                                }, 1000);
                            </script>
                        {% elseif options.type == 'daterange' %}
                            <div class="two fields">
                                <div class="field">
                                    <label for="filter_{{ name }}_from">{% trans %}Начальная дата{% endtrans %}</label>
                                    <div class="ui tiny calendar" id="{{ name }}-range-start">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="" name="filter_{{ name }}_from" id="filter_{{ name }}_from">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="filter_{{ name }}_to">{% trans %}Конечная дата{% endtrans %}</label>
                                    <div class="ui tiny calendar" id="{{ name }}-range-end">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="" name="filter_{{ name }}_to" id="filter_{{ name }}_to">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                setTimeout(() => {
									let {{ name }}_settings = calendarSettings('datetime');
                                    {{ name }}_settings.minDate = new Date('{{ options.min|from_dti }}');
                                    {{ name }}_settings.maxDate = new Date('{{ options.max|from_dti }}');

									let startCalSettings = {{ name }}_settings;
									let endCalSettings = {{ name }}_settings;
									startCalSettings.endCalendar = '#{{ name }}-range-end';
									endCalSettings.startCalendar = '#{{ name }}-range-start';

									$('#{{ name }}-range-start').calendar(startCalSettings);
									$('#{{ name }}-range-end').calendar(endCalSettings);
                                }, 1000);
                            </script>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% for name, value in currentParams %}
                {% if not (name starts with 'filter_' and name in filters) and value != 'Array' and value is not iterable %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}">
                {% endif %}
            {% endfor %}
        </form>
    {% endautoescape %}
{% endmacro %}
