{% macro search_and_filter(filters, action, currentParams) %}
    {% autoescape 'html' %}
        <form action="{{ action }}" method="get" class="">
            <div class="ui width wrapping menu">
                <div class="item "><i class="fa-duotone fa-solid fa-filter-list"></i></div>
                <div class="item">
                    <button type="submit" class="ui primary button">{{ 'Поиск'|trans }}</button>
                </div>
                {% for name, options in filters %}
                    <div class="item">
                        {% if options.type == 'text' %}
                            <div class="ui input">
                                <input type="text" id="filter_{{ name }}" name="filter_{{ name }}"
                                       placeholder="{{ options.label|trans }}"
                                       value="{{ attribute(currentParams, name) }}"/>
                            </div>
                        {% elseif options.type == 'tags' %}
                            <div class="inline fields">
                                <div class="field">
                                    <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                                    <select id="filter_{{ name }}" name="filter_{{ name }}[]"
                                            class="ui fluid search multiple selection dropdown clearable" multiple>
                                        {% for key, value in options.choices %}
                                            <option value="{{ key }}"
                                                    {% if attribute(currentParams, 'filter_' ~ name)|default([]) is iterable and key in attribute(currentParams, 'filter_' ~ name) %}selected{% endif %}>
                                                {{ value|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% elseif options.type == 'select' %}
                            <div class="inline fields">
                                <div class="field">
                                    <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                                    <select id="filter_{{ name }}" name="filter_{{ name }}"
                                            class="ui fluid search selection dropdown clearable" >
                                        {% for key, value in options.choices %}
                                            <option value="{{ key }}"
                                                    {% if attribute(currentParams, 'filter_' ~ name) == key %}selected{% endif %}>
                                                {{ value|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% elseif options.type == 'checkbox' %}
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="filter_{{ name }}" name="filter_{{ name }}" value="1"
                                       {% if attribute(currentParams, 'filter_' ~ name) %}checked{% endif %}>
                                <label for="filter_{{ name }}">{{ options.label|trans }}</label>
                            </div>
                        {% elseif options.type == 'range' %}
                            <div class="ui labeled ticked range slider" id="range-{{ name }}"></div>
                            <div class="ui input">
                                <input type="text" id="range-{{ name }}-input-1" name="filter_{{ name }}_from">
                                <input type="text" id="range-{{ name }}-input-2" name="filter_{{ name }}_to">
                            </div>
                            <script>
								$('#range-{{ name }}')
									.slider({
										min: options.min,
										max: options.max,
										step: 1,
										showThumbTooltip: true,
										tooltipConfig: {
											position: 'bottom center',
											variation: 'small visible blue'
										},
										smooth: true
									})
								;
                            </script>
                        {% elseif options.type == 'daterange' %}
                            <div class="two fields">
                                <div class="field">
                                    <label for={{ name }}-range-start">{% trans %}Начальная дата{% endtrans %}</label>
                                    <div class="ui tiny calendar" id="{{ name }}-range-start">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="" name="filter_{{ name }}_from">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="{{ name }}-range-end">{% trans %}Конечная дата{% endtrans %}</label>
                                    <div class="ui tiny calendar" id="{{ name }}-range-end">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="" name="filter_{{ name }}_to">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                let {{ name }}_settings = calendarSettings('datetime');
                                {{ name }}_settings.minDate = {{ options.min }};
                                {{ name }}_settings.maxDate = {{ options.max }};

                                let startCalSettings = {{ name }}_settings;
                                let endCalSettings = {{ name }}_settings;
								startCalSettings.endCalendar('#{{ name }}-range-end');
								endCalSettings.startCalendar('#{{ name }}-range-start');
								$('#{{ name }}-range-start').calendar(startCalSettings);
								$('#{{ name }}-range-end').calendar(endCalSettings);
                            </script>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% for name, value in currentParams %}
                {% if not (name starts with 'filter_' and name in filters) and value != 'Array' and value is not iterable %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}">
                {% endif %}
            {% endfor %}
        </form>
    {% endautoescape %}
{% endmacro %}
